In [1]:
import numpy as np
import pandas as pd

In [7]:
dat=pd.read_csv("best_fits.dat",names=("tau1","tau2","tau3","K1","K2","K3","Intensity(ADU)"),delimiter=" ")

In [8]:
dat

,tau1,tau2,tau3,K1,K2,K3,Intensity(ADU)
0,337.832235,2192.164113,21237.910433,15625.390443,737.788799,176.320355,138436.765625
1,294.323773,1856.125721,29037.585240,18097.148243,888.714973,144.530377,129035.714844
2,343.324542,2728.496388,23953.234483,16772.013616,600.672607,174.532051,140833.644531
3,253.827160,1862.204427,20236.279491,22970.716268,748.060518,158.648602,141888.746094
4,342.539707,2584.459018,30404.104737,13172.070650,607.305195,136.530761,136870.113281
5,347.299427,2870.380445,31033.335805,9606.195138,371.002706,116.622258,136778.007812
6,306.120491,2627.394338,37008.942536,17074.178406,611.938302,100.649406,145422.839844
7,324.310561,2206.461973,23569.952829,18044.710863,663.645118,145.961359,141715.765625
8,324.280688,1573.775647,15177.476956,11343.163552,646.148331,197.925164,130186.269531
9,305.190197,1528.298355,18097.715061,13731.846896,755.306727,180.820326,133818.281250
10,458.370257,3365.906350,18305.544771,6352.220369,250.129531,108.940213,143505.175781

In [12]:
np.median(dat["tau1"]),np.median(dat["tau2"]),np.median(dat["tau3"])

(324.31056064692183, 2206.4619733669615, 23569.952828987247)

In [13]:
np.median(dat["K1"]),np.median(dat["K2"]),np.median(dat["K3"])

(15625.390442519243, 646.1483309222092, 145.96135892333163)